<!DOCTYPE html>
<html>

<head>
    <title>My Website - Fish Stuff</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Welcome to the Fish Stuff Page</h1>
    <p>This page is all about fish and everything related to them.</p>
    <h2>Types of Fish</h2>
    <ul>
        <li>Tropical Fish</li>
        <li>Goldfish</li>
        <li>Betta Fish</li>
        <li>Angelfish</li>
    </ul>
    <h2>Fish Tanks</h2>
    <p>Here are some popular types of fish tanks:</p>
    <ol>
        <li>Glass tanks</li>
        <li>Aquarium kits</li>
        <li>Bowl tanks</li>
    </ol>
    <h2>Interesting Fish Facts</h2>
    <p>Did you know that fish can breathe underwater using gills?</p>
</body>

</html>